/*
Added the clearfix hack so that I can use it on parent
elements. e.g. `#main`
*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

body {
    background: #fefff5;
    font-family: Helvetica, Arial, sans-serif;
    color: #35363a;
    line-height: 1.4em;
}


.wrapper {
    width: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

/*
Added these styles to create columns
*/

#main div:first-child {
    float: left;
    width: 460px;
}

#main div:last-child {
    float: right;
    width: 220px;
}

/*
The following styles are used to achieve
layout in out mockup for the SECTION 2
*/

#quote {
    border-top: 6px solid #e9e5d5;
    border-bottom: 6px solid #e9e5d5;
    padding: 20px 0;
    margin: 20px 0;
}

#quote p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

/*
This removes the browser default
styles for unordered lists
*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
These styles create the
visual look of our mockup
*/

li {
    background: #35363a;
    width: 180px;
    padding: 20px;
    float: left;
}

li p, 
li h3 {
    color: white;
}

li h3 {
    margin-top: 0;
}

li p {
    margin-bottom: 0;                
}

/*
This style creates separation
between the first and second `li`
*/

li:first-child {
    margin-right: 20px;
}

/*
This floats the last element to the right
and create the separation between the second
and third `li` elements.
This style overrides the generic `li` style `float:left`
as seen above
*/

li:last-child {
    float: right;
}

clearfix:after {
    
}